<h1>Reddits</h1>
<% if can? :create, @reddits %>
  <p>
    New reddit <%= link_to 'Create', new_reddit_path %>
  </p>
<% end %>
<% @reddits.each do |r| %>
  <%= link_to r.title, reddit_path(r) %>
<% end %>
